*{
  margin: 0;
  padding: 0;
}
.main{
  min-height: 100vh;
}
.headings{
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
}
.heading-multi{
  padding-bottom: 10px;
}
.form-common{
  padding-left: 0px;
}
.text-justify{
  text-align: justify;
}
.foot-wrap{
  min-height: 60px;
  background-color: rgb(248, 249, 250);
}
.loader{
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #b4adad;
  opacity: 0.8;
}